{% for int in int_clean  %}
interface {{ int }}
no switchport port-security violation
no switchport port-security aging time
no switchport port-security aging type
no switchport port-security
no switchport port-security maximum
{% endfor %}

